/* media query for tablet */
/* media query for landscape, medium pixel density desktops */
/* meda query for high pixel density desktops */
.searchbar {
  width: 85%;
  height: 48px;
  margin-left: 16px;
  margin-right: 16px;
  background-image: url("../Assets/Icons/PNG/Icon-search.png");
  border: 1px solid blue;
  background-repeat: no-repeat;
  padding-left: 20px;
  background-position-y: center;
}

.header__button {
  width: 80%;
  background-color: #0095ff;
  margin-left: 16px;
  margin-right: 16px;
  color: white;
  border-radius: 10px;
  height: 48px;
  background-image: url("../Assets/Icons/PNG/Icon-upload.png");
  background-repeat: no-repeat;
  background-position-x: 30%;
  background-size: 20px;
  background-position-y: center;
  background-position-y: 7px;
}

.header__upload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4%;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3%;
  margin-bottom: 3%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
}

.header__mohan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  height: 48px;
  width: 48px;
}

.footer__videos .footer__all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 24px;
}

.footer__videos .footer__all .footer__title {
  margin: 0px;
}

.footer__videos .footer__all .footer__video img {
  height: 70px;
  width: 120px;
}

.footer__heading {
  margin-bottom: 40px;
}

hr {
  margin-bottom: 40px;
}

.hero__vid {
  width: 100vw;
  margin: 0em;
  padding: 0em;
  height: 100%;
  margin-top: 16px;
}

.hero__title {
  padding-top: 32px;
  margin-left: 16px;
  margin-right: 16px;
  line-height: 32px;
  font-size: 24px;
}

.hero__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 16px;
  margin-left: 16px;
  margin-right: 16px;
  width: 60%;
  font-size: 14px;
  line-height: 22px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.hero__date {
  padding-left: 8px;
}

.hero__icons {
  padding-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 10px;
  margin-left: 16px;
  margin-right: 16px;
  padding-bottom: 24px;
  border-bottom: 1px solid lightgray;
}

.hero__views {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__iconnumber {
  padding-left: 8px;
}

.hero__likes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__text {
  margin-left: 16px;
  margin-right: 16px;
  padding-top: 24px;
  padding-bottom: 40px;
  font-size: 13px;
  line-height: 20px;
}

.comment__title {
  width: 100%;
  line-height: 32px;
  font-size: 24px;
}

.comment__heading {
  margin-top: 32px;
  color: lightgray;
  width: 60%;
}

.comment__container {
  margin-left: 16px;
  margin-right: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.comment__textboxcontainer {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.column {
  width: 37.6%;
}

.comment__textboxpic {
  border-radius: 50%;
  height: 48px;
  width: 48px;
}

.comment__textbox {
  border: 2px solid #0095ff;
  height: 40px;
  width: 58%;
  height: 80px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comment__buttoncontainer {
  width: 60%;
}

.comment__button {
  margin-top: 16px;
  height: 60px;
  width: 100%;
  border-radius: 5px;
  background-color: #0095ff;
  color: white;
}

body {
  color: black;
  margin: 0em;
  margin: 0;
  padding: 0;
}

.footer__videos .footer_all .footer__video img {
  max-height: 50px;
  max-width: 50px;
}
/*# sourceMappingURL=style.css.map */