.hero__vid {
  width: 100vw;
  margin: 0em;
  padding: 0em;
  height: 100%;
  margin-top: 16px;
}
.hero__title {
  padding-top: 32px;
  margin-left: 16px;
  margin-right: 16px;
  line-height: 32px;
  font-size: 24px;
}
.hero__author {
  display: flex;
  padding-top: 16px;
  margin-left: 16px;
  margin-right: 16px;
  width: 60%;
  font-size: 14px;
  line-height: 22px;
  align-items: baseline;
}
.hero__date {
  padding-left: 8px;
}
.hero__icons {
  padding-top: 32px;
  display: flex;
  height: 10px;
  margin-left: 16px;
  margin-right: 16px;
  padding-bottom: 24px;
  border-bottom: 1px solid lightgray;
}
.hero__views {
  display: flex;
  align-items: center;
}
.hero__iconnumber {
  padding-left: 8px;
}
.hero__likes {
  display: flex;
  padding-left: 24px;
  align-items: center;
}
.hero__text {
  margin-left: 16px;
  margin-right: 16px;
  padding-top: 24px;
  padding-bottom: 40px;
  font-size: 13px;
  line-height: 20px;
}
